<html>
<head>
  <title>Unique Quotes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

  <link rel="icon" type="image/png" href="quote.png">
  <link rel="stylesheet" type="text/css" href="vue.css">
  <!-- Vuejs and Jquery -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/debounce.js"></script>
  <script src="vue.min.vue"></script>
  <script src="jquery.min.js"></script>
</head>
<body onload="FocusOnInput()">
      
<img src="quote.png">     
<h1>Unique Quotes</h1>
            <!-- template of the rendered content -->
      <script type="text/x-template" id="grid-template">

        <div class="random-quote"  v-if="searchFilled">
          <h4>Random Quote</h4>
          <transition name="disappear"  leave-active-class="disappear">
            <div :key="quote.text" v-if="show" v-on:click="changeQuote" class="random">
              <h3 >{{quote.author}} </h3>
              <p ><span class="qqq">&ldquo;</span>{{quote.text}}<span class="qqq">&rdquo;</span></p>
            </div>
          </transition>
        </div>

        <div v-else>
          <div v-if="count">
            <h3 class="result-count">Showing {{count}} Quotes<span v-bind:class="{none: details}"> related to "<span class="tomato">{{searchQuery}}</span>"</span>.</h3>
            <div id="columns">
               <figure class="list-quote" v-for="entry in filteredData">
                <div class="quote-text col"> <p>{{entry.text}}</p></div>
                <div  class="writer">  <h4> &ndash; {{entry.author}}</h4></div>
                </figure>                
              </div>
            </div> 
        <div v-else>
              <h3>Could not find the keyword "<span class="tomato">{{searchQuery}}</span>" in any Quote. </h3>
        </div>
        </div>
      </script>
      <div id="demo">
          <form id="search" v-on:submit.prevent="onSubmit">
            <label>Search for a keyword</label><br>
            <input type="search" id="searchInput"  name="query" v-model.lazy="searchQuery" >
          </form>
          <demo-grid
            :data="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
          </demo-grid>
      </div>
      <script type="text/javascript" src=data.js></script>
      <script type="text/javascript" src=main.vue></script>
      <script type="text/javascript">
              function FocusOnInput()
                { $("#searchInput").focus();}
                $('label').click(function(){FocusOnInput()});
      </script>
</body>
</html>